<mat-toolbar fxLayout="row" class="app-container mat-elevation-z6">
  <ng-container *ngIf="isLogged">
    <button mat-icon-button [matMenuTriggerFor]="menu" fxShow.xs>
      <mat-icon> menu </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let item of itemsMenuBars">
        <button
          mat-menu-item
          [routerLink]="item.link"
          routerLinkActive="router-link-active"
        >
          <mat-icon class="app-icon">{{ item.icon }}</mat-icon>
          <span class="app-menu-label">{{ item.label }}</span>
        </button>
      </ng-container>
    </mat-menu>
  </ng-container>

  <span class="app-icon-center" fxFlex fxLayoutAlign="center">
    <a
      [routerLink]="isLogged ? '/table-tasks' : '/'"
      [matTooltip]="isLogged ? 'Tarefas' : 'Home'"
    >
      <img
        src="https://play-lh.googleusercontent.com/pjUulZ-Vdo7qPKxk3IRhnk8SORPlgSydSyYEjm7fGcoXO8wDyYisWXwQqEjMryZ_sqK2"
        alt="logo"
      />
    </a>
  </span>

  <button
    *ngIf="isLogged"
    mat-icon-button
    routerLink="/"
    (click)="logout()"
    [matTooltip]="'Quer mesmo sair, ' + userName + '?'"
    class="app-icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
  <button
    class="app-icon"
    *ngIf="!isLogged"
    mat-icon-button
    routerLink="/login"
    matTooltip="Fazer login"
  >
    <mat-icon>person</mat-icon>
  </button>
  <button
    class="app-icon"
    *ngIf="!isLogged"
    mat-icon-button
    routerLink="/create"
    matTooltip="Criar uma conta"
  >
    <mat-icon>person_add</mat-icon>
  </button>
</mat-toolbar>
