<div class="app-container">
  <div class="app-header-container">
    <h2>Lista de tarefas</h2>
    <div class="app-header-content">
      <mat-form-field class="app-search">
        <input matInput (keyup)="searchTask($event)" placeholder="Buscar" />
        <button mat-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <button class="app-button-add" mat-button (click)="openDialog()">
        <mat-icon>add</mat-icon>Nova tarefa
      </button>
    </div>
  </div>

  <table
    *ngIf="tasksInPage.length > 0"
    mat-table
    [dataSource]="tasksInPage"
    class="mat-elevation-z8"
  >
    <ng-container *ngFor="let item of columnsTable; let i = index">
      <ng-container
        *ngIf="
          columnsTableHeader[i] !== 'Feito' && columnsTableHeader[i] !== 'Ações'
        "
        [matColumnDef]="item"
      >
        <th mat-header-cell *matHeaderCellDef>{{ columnsTableHeader[i] }}</th>
        <td mat-cell *matCellDef="let task">
          {{ task[columnsTable[i]] }}
        </td>
      </ng-container>
      <ng-container
        *ngIf="columnsTableHeader[i] === 'Feito'"
        [matColumnDef]="item"
      >
        <th mat-header-cell *matHeaderCellDef>{{ columnsTableHeader[i] }}</th>
        <td mat-cell *matCellDef="let task">
          <mat-checkbox
            [(ngModel)]="task[columnsTable[i]]"
            (change)="toggleDone(task)"
          ></mat-checkbox>
        </td>
      </ng-container>

      <ng-container
        *ngIf="columnsTableHeader[i] === 'Ações'"
        class="app-action-container"
        [matColumnDef]="item"
      >
        <th mat-header-cell *matHeaderCellDef>{{ columnsTableHeader[i] }}</th>
        <td mat-cell *matCellDef="let task">
          <button
            mat-icon-button
            class="app-action-button"
            (click)="openDialog(task)"
            [disabled]="task.isDone"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            class="app-action-button"
            (click)="deleteTask(task)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="columnsTable"
      class="app-header-table"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnsTable"
      [ngClass]="{ 'app-done': row.isDone }"
    ></tr>
  </table>

  <!-- Paginator só aparece se houver tarefas -->
  <mat-paginator
    *ngIf="tasksInPage.length > 0"
    [length]="tasks.length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvents($event)"
  ></mat-paginator>
</div>
